<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}Inscriptions monetary metadata{% endblock %}</title>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

   <!-- ICONS Font-Awesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />

   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">

   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.4.168/pdf_viewer.min.css" integrity="sha512-x8buBaDKkgii2qE6jCxilM3dSVZtKHI+axn8gaWb3xDfE/Klk/zgy7+NhuQY7X09Np5aeoPuh3cRqlfRG+98Vw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) | replace('http://localhost/', 'http://localhost/inscriptions/') }}">

   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', _external=True) | replace('http://localhost/', 'http://localhost/inscriptions/') }}"> -->

   <link rel="stylesheet" href="/inscriptions/static/css/style.css" />

   <link rel="shortcut icon" href="/inscriptions/static/favicon.ico" />

   <style>

   </style>

</head>

<body>
   {% include "header.html" %}

   <div class="container-fluid">
      {% block content %}{% endblock%}

      <!-- Modal -->
      <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Login</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body content">
                  <!-- Loader element -->
                  <div id="divLoadingEdit" class="overlay d-none">
                     <div class="overlay-content">
                        <div class="spinner-border text-light" role="status">
                           <span class="visually-hidden">Loading...</span>
                        </div> Loading...
                     </div>
                  </div>
                  <div id="divLogin">
                     <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="txtUserName" placeholder="username" required
                           autocomplete="off" />
                        <label for="txtUserName">Username</label>
                     </div>
                     <div class="form-floating">
                        <input type="password" class="form-control" id="txtPassword" placeholder="Password" required />
                        <label for="txtPassword">Password</label>
                     </div>

                     <button class="btn btn-primary mt-3 float-end" type="button"
                        onclick="login('#divLogin')">Login</button>
                  </div>

               </div>
            </div>
         </div>
      </div>


      <!-- Terms Modal -->
      <div class="modal fade" id="termModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-xl">
            <div class="modal-content">
               <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Filter Terms Definitions</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body content" style="min-height: 80vh;">
                  <!-- <canvas id="pdf-viewer"></canvas> -->
                  <iframe style="width: 100%; height: 80vh;"
                     src="/inscriptions/static/pdfjs-4.4.168-dist/web/viewer.html?file=/inscriptions/static/data/definitions.pdf"></iframe>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>

   <!-- Latest compiled and minified JavaScript -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

   <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>


   <!-- <script src="{{ url_for('static', filename='js/color-modes.js', _external=True) | replace('http://localhost/', 'http://localhost/inscriptions/') }}"></script>
   <script src="{{ url_for('static', filename='js/edit.js', _external=True) | replace('http://localhost/', 'http://localhost/inscriptions/') }}"></script> -->

   <script src="/inscriptions/static/js/color-modes.js"></script>
   <script src="/inscriptions/static/js/edit.js"></script>

   <script>

      function getQueryParams() {
         var params = {};
         window.location.search.substring(1).split("&").forEach(function (param) {
            var keyValuePair = param.split("=");
            var key = decodeURIComponent(keyValuePair[0]);
            var value = decodeURIComponent(keyValuePair[1] || '');

            if (!params[key]) {
               params[key] = [];
            }
            params[key].push(value);
         });

         //////////////////////////////////////////
         /// Set the active class 
         $('.nav-link').removeClass('active')
         $('.nav-link').each(function (i, ele) {
            if ($(ele).attr('href').replace('/', '') === window.location.pathname.replace('/', '')) {
               $(ele).addClass('active')
            }
         })

         return params;
      }

      function removeSelectedOptions(ele, id, value) {
         if (id === 'date') {
            $('#date_from').val('');
            $('#date_to').val('');
         }
         else if (value !== ''){
            $(`#sel${firstLetterUpper(id)} option[value='${value.replaceAll("+", " ")}']`).prop("selected", false);
         }
         else{
            $(`#sel${firstLetterUpper(id)}`).val('');
         }
         $('#frmFilters').submit();
      }

      function firstLetterUpper(txt) {
         str = txt.toLowerCase().replace(/\b[a-z]/g, function (letter) {
            return letter.toUpperCase();
         });
         return str
      }

      $(document).ready(function () {
         var params = getQueryParams();
         //$('#btnRefineSearch').hide();
         $('#divOperator').hide();
         var selectedOptions = [];

         var mainContent = '';
         if (params.q) {
            $('.txtSearch').val(params.q[0].replaceAll('+', ' '))
         }

         for (let p in params) {
            if (p !== '') {
               if (p !== 'q' && p !== 'operator' && p !== 'page') {
                  $.each(params[p], function (i, e) {
                     $(`#sel${firstLetterUpper(p)} option[value='${e.replaceAll("+", " ")}']`).prop("selected", true);

                     $(`#${p}`).val(e)

                     buildSelectedOptions(p, e);
                  });

                  // Check for date fields
                  checkForDateFields(params);

                  // Refresh the dropdwon menu
                  $(`#sel${firstLetterUpper(p)}`).selectpicker("refresh");
                  isFiltersSelected()
               } else if (p === 'operator') {
                  if (params[p][0] === 'OR') {
                     $('#chkOperator').removeAttr('checked')
                     $("#hidOperator").val('OR')
                     $($("#chkOperator").next()).html('OR')
                  }
               }
            }
         }

         //console.log(selectedOptions);
         showSelectedOptions();

         mainContent = $(".selectpicker").map(function (i, el) {
            return $(el).val();
         }).get();

         $('#btnRefineSearch').click(function () {
            $('#hidQuery').val($('#txtKeywords').val())
         })

         function buildSelectedOptions(p, v) {
            if (p !== 'rdoDateOption') {
               if (!Array.isArray(selectedOptions[p])) {
                  selectedOptions[p] = [];
               }
               selectedOptions[p].push(v);
            }
         }

         function showSelectedOptions() {
            let html = '';
            let htmlDate = '';
            if(Object.keys(selectedOptions).length === 0) return;

            if (selectedOptions['date_from'][0] !== '' || selectedOptions['date_to'][0] !== '') {
               let date_from = selectedOptions['date_from'][0] === '' ? '*' : selectedOptions['date_from'][0];
               let date_to = selectedOptions['date_to'][0] === '' ? '*' : selectedOptions['date_to'][0];

               htmlDate = `<div class="alert alert-primary alert-dismissible p-1 mb-1" role="alert">
                           <strong>Year: </strong> [${date_from} TO ${date_to}]
                           <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close" onclick="removeSelectedOptions(this, 'date', '')"></button>
                        </div>`
            }

            for (let key in selectedOptions) {
               if (key === 'date_from' || key === 'date_to') continue;

               let strong = `<strong class="text-capitalize">${firstLetterUpper(key).replaceAll('_', ' ')}:</strong> `;
               if(key === 'material'){
                  strong = `<strong>Commodity:</strong> `;
               }
               if(key === 'nature'){
                  strong = `<strong>Monetary Material:</strong> `;
               }
               if(key === 'denomination'){
                  strong = `<strong>Coin Denomination/Unit of Monetary Measurement:</strong> `;
               }
               let values = '';
               for (let value of selectedOptions[key]) {
                  if (value === '') continue;
                  values += `<span> ${value.replaceAll("+", " ")} <i class="fas fa-times" style="cursor:pointer;" onclick="removeSelectedOptions(this, '${key}', '${value}')"></i> </span>`;
               }
               if (values !== '') {
                  html += `<div class="alert alert-primary alert-dismissible p-1 mb-1" role="alert">
                           <div style="width: 93%"> ${strong} ${values} </div>
                           <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close" onclick="removeSelectedOptions(this, '${key}', '')"></button>
                        </div>`
               }
            }

            html += htmlDate;

            $('#divSelectedOptions').html(html);
         }

         function checkForDateFields(params) {
            if ($('#date_from').val() !== '' && $('#date_to').val() !== '') {
               if (params !== null) {
                  if (params['rdoDateOption']) {
                     $('#rdoDateOption').val('Exclusive');
                     $('#rdoDateOption').next().html('Exclusive');
                  }
                  else {
                     $('#rdoDateOption').removeAttr('checked');
                     $('#rdoDateOption').val('Inclusive');
                     $('#rdoDateOption').next().html('Inclusive');
                  }
               }

               $('#rdoDateOption').removeAttr('disabled');
            }
            else {
               $('#rdoDateOption').attr('disabled', 'disabled');
            }
         }



         $('.date').change(function () {
            //$('#btnRefineSearch').show();
            checkForDateFields(null);
            $('#divOperator').show();
         });

         $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            isFiltersSelected()
         });

         $('.selectpicker').on('hidden.bs.select', function (e) {
            let values = $(".selectpicker").map(function (i, el) {
               return $(el).val();
            }).get();

            if (values.length > 0) {
               if (JSON.stringify(mainContent) !== JSON.stringify(values)) {
                  $('#frmFilters').submit();
               }
            }
         });


         function isFiltersSelected() {
            var all = $(".filter-option-inner-inner").map(function () {
               if (this.innerHTML !== 'Nothing selected')
                  return this.innerHTML;
            }).get();


            if (all.length > 0) {
               //$('#btnRefineSearch').show();
               $('#divOperator').show();
            }
            else {
               //$('#btnRefineSearch').hide();
               $('#divOperator').hide();
            }
         }
         //////////////////////////////////////////
         $('#chkOperator').change(function () {
            if ($("#chkOperator").is(':checked')) {
               $("#hidOperator").val('AND')
               $($("#chkOperator").next()).html('AND')
            }
            else {
               $("#hidOperator").val('ORD')
               $($("#chkOperator").next()).html('OR')
            }
         });
         ////////////////////////////////////////////////////////////////////
         //// Map
         var map = null;
         //if (!window.location.search.includes('page')) {
         //if (!localStorage.getItem('mapData')) {
         $.ajax({
            url: `/inscriptions/map_results${window.location.search}`,
            type: 'GET',
            success: function (data) {
               let usedLatLng = []
               // Append the new data
               for (let item of data.mapResults) {
                  if (item.lat !== undefined && item.lat !== null) {
                     if (usedLatLng.filter(x => x.lat === item.lat && x.long === item.long).length === 0) {
                        usedLatLng.push({
                           lat: item.lat,
                           long: item.long,
                           data: [{
                              region: item.region,
                              city: item.city,
                              date_from: item.date_from,
                              date_to: item.date_to,
                              description: item.description,
                              id: item.id
                           }]
                        })
                     }
                     else {
                        let itemFound = usedLatLng.find(x => x.lat === item.lat && x.long === item.long)
                        itemFound.data.push({
                           region: item.region,
                           city: item.city,
                           date_from: item.date_from,
                           date_to: item.date_to,
                           description: item.description,
                           id: item.id
                        })
                     }
                  }
               }
               //console.log(usedLatLng);
               ////////////////////////////////////////
               /// Map and Display marker with popups
               map = L.map('mapGeneral').setView([usedLatLng[0].lat, usedLatLng[0].long], 6);
               L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + data.mapbox_token, {
                  attribution: '&copy;'
                  // tileSize: 512,
                  // zoomOffset: -1
               }).addTo(map);

               // Layer group to manage markers
               var markersLayer = L.layerGroup().addTo(map);
               // Clear existing markers
               markersLayer.clearLayers();
               for (let item of usedLatLng) {
                  let marker = L.marker([item.lat, item.long]).addTo(map);
                  let displayItems = `<div class="card border-0 p-0 m-0">
                                       <div class="card-header">
                                          Inscriptions (Count: ${item.data.length})
                                       </div>
                                       <ul class="list-group list-group-flush">`;
                  for (let d of item.data) {
                     displayItems += `<li class="list-group-item">
                                          <a class="mb-1" title="${d.city}: ${d.date_from} To ${d.date_to} ${d.description}" style="display: block;overflow: hidden; text-overflow: ellipsis;white-space: nowrap; width:90%" href="item/${d.id}" target="_blank">
                        ${d.city}: ${d.date_from} To ${d.date_to} ${d.description} </a>
                                          <b>Region: </b> ${d.region}   
                                       </li>`;
                  }
                  displayItems += `</ul></div>`;

                  marker.bindPopup(displayItems, {
                     maxHeight: 150
                  });
                  markersLayer.addLayer(marker);
               }

               $('#btnMapResults').removeClass('d-none')
            },
            error: function (error) {
               console.error('Error:', error);
            }
         });
         // }

         $('#mapModal').on('shown.bs.modal', function () {
            let interval = setInterval(() => {
               if (map) {
                  clearInterval(interval)
                  $('#divLoadingMap').addClass('d-none')
                  map.invalidateSize();
               }
            }, 500);
         });

      });

      function downloadFile(ele, format) {
         //$(ele).addClass('disabled')
         $('.dropdown-menu-end').removeClass('show')
         $('.btnSpinner').toggleClass('disabled', '')
         $('.spinnerLoader').toggleClass('d-none', '')
         $('.spinnerLoader').toggleClass('', 'd-none')

         var responseType = format === 'json' || format === 'xml' ? '' : 'blob';
         var dataType = format === 'json' || format === 'xml' ? 'text' : '';

         $.ajax({
            url: `/inscriptions/query.${format}${location.search}`,
            type: 'GET',
            //data: { query: query },
            xhrFields: {
               responseType: responseType
            },
            dataType: dataType,
            success: function (response, status, xhr) {
               var filename = "";
               var disposition = xhr.getResponseHeader('Content-Disposition');
               if (disposition && disposition.indexOf('attachment') !== -1) {
                  var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                  var matches = filenameRegex.exec(disposition);
                  if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
               }

               if (format === 'json' || format === 'xml') {
                  var blob = new Blob([response], { type: xhr.getResponseHeader('Content-Type') });
                  var url = window.URL.createObjectURL(blob);
               }
               else {
                  var url = window.URL.createObjectURL(response);
               }
               var link = document.createElement('a');
               link.href = url;
               link.download = filename;
               document.body.appendChild(link);
               link.click();
               window.URL.revokeObjectURL(url);
               document.body.removeChild(link);
               //$(`#${ele.getAttribute('id')}`).removeClass('disabled')
               $('.btnSpinner').toggleClass('disabled', '')
               $('.spinnerLoader').toggleClass('', 'd-none')
               $('.spinnerLoader').toggleClass('d-none', '')
            },
            error: function (err) {
               console.log(err)
               alert('Failed to download.');
               $('.btnSpinner').toggleClass('disabled', '')
               $('.spinnerLoader').toggleClass('', 'd-none')
               $('.spinnerLoader').toggleClass('d-none', '')
            }
         });
      }

   </script>
</body>

</html>