<div class="position-sticky" style="margin-top: 2rem !important; top:80px !important;">
    <div class="row">
        <div class="col-md-12 border-bottom">
            <h3>Filters</h3>
        </div>
    </div>
    <div class="row mt-2">
        <form class="col-md-12" {{ url_for('results') }} method="GET" id="qs_form">
            <div class="input-group mb-3">
                <input type="search" class="form-control txtSearch" id="txtKeywords" name="q"
                    placeholder="Search in description/notes" />
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        <form class="col-md-12" {{ url_for('results') }} method="GET" id="qs_form">
            <input type="hidden" name="q" id="hidQuery" />
            <h4>Refine Results:</h4>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">Region</label>
                <select class="selectpicker form-control" id="selRegion" name="region" multiple data-live-search="true"
                    data-selected-text-format="count > 3" data-size="5" onchange="this.form.submit()">
                    {% for i in range(0, filters.regions|length, 2) %}
                    {% if filters.regions[i+1] > 0 %}
                    <option value="{{filters.regions[i]}}" data-subtext="({{ filters.regions[i+1] }})">{{
                        filters.regions[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">City</label>
                <select class="selectpicker form-control" id="selCity" name="city" multiple data-live-search="true"
                    data-selected-text-format="count > 3" data-size="5" onchange="this.form.submit()">
                    {% for i in range(0, filters.cities|length, 2) %}
                    {% if filters.cities[i+1] > 0 %}
                    <option value="{{filters.cities[i]}}" data-subtext="({{ filters.cities[i+1] }})">{{
                        filters.cities[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">Date</label>
                <div class="row p-0">
                    <div class="col-5 col-md-5">
                        <input class="form-control date" type="number" id="date_from" name="date_from"
                            placeholder="From" />
                    </div>
                    <div class="col-5 col-md-5">
                        <input type="number" class="form-control date" id="date_to" name="date_to" placeholder="To" />
                    </div>
                    <div class="col-2 col-md-2">
                        <button type="submit" id="btnRefineSearch" value="Refine Search..." class="btn btn-primary">
                            <i class="fas fa-hourglass-half"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">document type</label>
                <select class="selectpicker form-control" id="selDoc_type" name="doc_type" multiple
                    data-live-search="true" data-selected-text-format="count > 3" data-size="5"
                    onchange="this.form.submit()">
                    {% for i in range(0, filters.docTypes|length, 2) %}
                    {% if filters.docTypes[i+1] > 0 %}
                    <option value="{{filters.docTypes[i]}}" data-subtext="({{ filters.docTypes[i+1] }})">{{
                        filters.docTypes[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">epigraphic reference</label>
                <select class="selectpicker form-control" id="selEpigraphic_reference" name="epigraphic_reference"
                    multiple data-live-search="true" data-selected-text-format="count > 3" data-size="5"
                    onchange="this.form.submit()">
                    {% for i in range(0, filters.epigraphic_references|length, 2) %}
                    {% if filters.epigraphic_references[i+1] > 0 %}
                    <option value="{{filters.epigraphic_references[i]}}"
                        data-subtext="({{ filters.epigraphic_references[i+1] }})">{{ filters.epigraphic_references[i] }}
                    </option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">Authority</label>
                <select class="selectpicker form-control" id="selAuthority" name="authority" multiple
                    data-live-search="true" data-selected-text-format="count > 3" data-size="5"
                    onchange="this.form.submit()">
                    {% for i in range(0, filters.authorities|length, 2) %}
                    {% if filters.authorities[i+1] > 0 %}
                    <option value="{{filters.authorities[i]}}" data-subtext="({{ filters.authorities[i+1] }})">{{
                        filters.authorities[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">Activity</label>
                <select class="selectpicker form-control" id="selActivity" name="activity" multiple
                    data-live-search="true" data-selected-text-format="count > 3" data-size="5"
                    onchange="this.form.submit()">
                    {% for i in range(0, filters.activities|length, 2) %}
                    {% if filters.activities[i+1] > 0 %}
                    <option value="{{filters.activities[i]}}" data-subtext="({{ filters.activities[i+1] }})">{{
                        filters.activities[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">Purpose/Focus</label>
                <select class="selectpicker form-control" id="selPurpose" name="purpose" multiple
                    data-live-search="true" data-selected-text-format="count > 3" data-size="5"
                    onchange="this.form.submit()">
                    {% for i in range(0, filters.purposes|length, 2) %}
                    {% if filters.purposes[i+1] > 0 %}
                    <option value="{{filters.purposes[i]}}" data-subtext="({{ filters.purposes[i+1] }})">{{
                        filters.purposes[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">Context/Field of Action</label>
                <select class="selectpicker form-control" id="selContext" name="context" multiple
                    data-live-search="true" data-selected-text-format="count > 3" data-size="5"
                    onchange="this.form.submit()">
                    {% for i in range(0, filters.contextes|length, 2) %}
                    {% if filters.contextes[i+1] > 0 %}
                    <option value="{{filters.contextes[i]}}" data-subtext="({{ filters.contextes[i+1] }})">{{
                        filters.contextes[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">Lines</label>
                <select class="selectpicker form-control" id="selLines" name="lines" multiple data-live-search="true"
                    data-selected-text-format="count > 3" data-size="5" onchange="this.form.submit()">
                    {% for i in range(0, filters.lines|length, 2) %}
                    {% if filters.lines[i+1] > 0 %}
                    <option value="{{filters.lines[i]}}" data-subtext="({{ filters.lines[i+1] }})">{{ filters.lines[i]
                        }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">Commodity</label>
                <!-- <label class="text-capitalize form-labe;">Material</label> WE use this in the database-->
                <select class="selectpicker form-control" id="selMaterial" name="material" multiple
                    data-live-search="true" data-selected-text-format="count > 3" data-size="5"
                    onchange="this.form.submit()">
                    {% for i in range(0, filters.materials|length, 2) %}
                    {% if filters.materials[i+1] > 0 %}
                    <option value="{{filters.materials[i]}}" data-subtext="({{ filters.materials[i+1] }})">{{
                        filters.materials[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <!-- <label class="text-capitalize form-labe;">Nature</label> -->
                <label class="text-capitalize form-labe;">Monetary Material</label>
                <select class="selectpicker form-control" id="selNature" name="nature" multiple data-live-search="true"
                    data-selected-text-format="count > 3" data-size="5" onchange="this.form.submit()">
                    {% for i in range(0, filters.natures|length, 2) %}
                    {% if filters.natures[i+1] > 0 %}
                    <option value="{{filters.natures[i]}}" data-subtext="({{ filters.natures[i+1] }})">{{
                        filters.natures[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-2">
                <label class="text-capitalize form-labe;">Coin Denomination/Unit of Monetary Measurement</label>
                <select class="selectpicker form-control" id="selDenomination" name="denomination" multiple
                    data-live-search="true" data-selected-text-format="count > 3" data-size="5"
                    onchange="this.form.submit()">
                    {% for i in range(0, filters.denominations|length, 2) %}
                    {% if filters.denominations[i+1] > 0 %}
                    <option value="{{filters.denominations[i]}}" data-subtext="({{ filters.denominations[i+1] }})">{{
                        filters.denominations[i] }}</option>
                    {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="mb-3" id="divOperator">
                <label class="text-capitalize form-labe;">Logical Operator</label>
                <div class="form-check form-switch">
                    <input type="hidden" id="hidOperator" name="operator" value="AND" />
                    <input class="form-check-input" type="checkbox" role="switch" id="chkOperator" checked />
                    <label class="form-check-label" for="chkOperator">AND</label>
                </div>
            </div>

            <!-- <button type="submit" id="btnRefineSearch" value="Refine Search..." class="btn btn-primary mb-5"><i class="fas fa-hourglass-half"></i></i> Refine Search</button> -->
            <a href="/inscriptions/results" id="btnRefineSearch" class="btn btn-primary mb-5">
                <i class="fas fa-power-off"></i> Clear Filters</a>
            <form>
    </div>
</div>